footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
  z-index: 2;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  backdrop-filter: blur(6px);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3rem;
  font-weight: 200;
}