footer {
width: 100%;
padding: 20px;
background: rgba(0,0,0,0.8);
color: white;
text-align: center;
position: fixed;
bottom: 0;
left: 0;
z-index: 1;
}



@media(max-width: 600px){
footer p { font-size: 14px; }
}