.content {
position: relative;
z-index: 1;
color: white;
padding: 50px;
text-align: center;
}



main {
min-height: 100vh;
min-width: 100vw;
z-index: 1;
}

@media(max-width: 600px){
.content h1 { font-size: 26px; }
.content p { font-size: 16px; }
.content { top: 90px; }
}