html, body {
margin: 0;
padding: 0;
height: 100%;
overflow-x: hidden;
overflow-y: hidden;
font-family: Arial, sans-serif;
}

canvas {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
filter: blur(5px);
}


.content {
position: relative;
z-index: 1;
color: white;
padding: 50px;
text-align: center;
}



main {
min-height: 100vh;
min-width: 100vw;
background: rgba(0,0,0,0.6);
color: white;
z-index: 0;
}

@media(max-width: 600px){
.content h1 { font-size: 26px; }
.content p { font-size: 16px; }
.content { top: 90px; }
}