<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>


<header>
  <nav class="navbar">
    <div class="logo"><p class='smm'>Smm</p><p class='age'>age</p><br class="logobr">
    <p class='inno'>innovations</p></div>
    <ul class="nav-links">
      <li><a href="">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>


</body>
</html>


<script>
function toggleMenu(){
const m = document.getElementById("menu");
m.style.display = m.style.display === "flex" ? "none" : "flex";
}
</script>
