<!DOCTYPE html>
<html lang="uk">
<link rel="stylesheet" href="/static/css/homepage.css">


<body>
  <canvas id="c"></canvas>

  {% include 'header.html' %}

  <main>
    <section>

      <h1 class="section-title">We propose:</h1>
      <div class="presents">
        <div class="oprtunity">
          <img
            src="https://img.pikbest.com/png-images/20241022/stealth-masked-hacker-gaming-logo-for-gamers_10991543.png!bw700"
            alt="">
          <div class="propose_text">
            <h1>SocialMediaMarketing</h1>
            <p>Descrirpion text</p>
          </div>
        </div>

        <div class="oprtunity">
          <img
            src="https://img.pikbest.com/png-images/20241022/stealth-masked-hacker-gaming-logo-for-gamers_10991543.png!bw700"
            alt="">
          <div class="propose_text">
            <h1>Web Development</h1>
            <p>Descrirpion text</p>
          </div>
        </div>

        <div class="oprtunity">
          <img
            src="https://img.pikbest.com/png-images/20241022/stealth-masked-hacker-gaming-logo-for-gamers_10991543.png!bw700"
            alt="">
          <div class="propose_text">
            <h1>Content creation</h1>
            <p>Descrirpion text</p>
          </div>
        </div>

        <div class="oprtunity">
          <img
            src="https://img.pikbest.com/png-images/20241022/stealth-masked-hacker-gaming-logo-for-gamers_10991543.png!bw700"
            alt="">
          <div class="propose_text">
            <h1>Target ads</h1>
            <p>Descrirpion text</p>
          </div>
        </div>

        <div class="oprtunity">
          <img
            src="https://img.pikbest.com/png-images/20241022/stealth-masked-hacker-gaming-logo-for-gamers_10991543.png!bw700"
            alt="">
          <div class="propose_text">
            <h1>Branding</h1>
            <p>Descrirpion text</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h1>We present</h1>

      <div class="work-type">
        <div class="type">
          <img src="" alt="">
          <h2>Sites</h2>
        </div>

        <div class="type">
          <img src="" alt="">
          <h2>Lending</h2>
        </div>

        <div class="type">
          <img src="" alt="">
          <h2>Social Media</h2>
        </div>

        <div class="type">
          <img src="" alt="">
          <h2>Advertisement</h2>
        </div>
      </div>
    </section>

    <section>
      <h1>Our Projects</h1>

      <h2>Sites</h2>
      <div class="our-projects">
        <div class="project">
          <section>
            <img src="" alt="">
            <div class="dexcription">
              <h1>Project name</h1>
            </div>
          </section>
        </div>
      </div>
    </section>



























    <section>
      <h1 class="section-title">We present:</h1>

      <div class="our-works">
        <div class="work">
          <div class="front">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6sXSOa58Xv6XuW5SgjfJ9LhCbiRc99xbsVQ&s"
              alt="">
            <h1>Work type: Office, cinema, caffee, etc</h1>
          </div>
          <div class="back">
            <section>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6sXSOa58Xv6XuW5SgjfJ9LhCbiRc99xbsVQ&s"
                alt="">
              <div class="decription">
                <h2>Name: DovMovie</h2>
                <p>Description of the work</p>
              </div>
            </section>

            <section>
              <div class="decription">
                <h2>Work specifics</h2>
                <p>Description of the work</p>
              </div>
              <img src="https://cdn.prod.website-files.com/640c623fda02ab95170ef842/649c02089bc7c6dc479285fc_CineSync-mobile-hero-image.png"
                alt="">
            </section>
          </div>          
        </div>

        <div class="work">
          <div class="front">
            <img
              src="https://cdn.prod.website-files.com/640c623fda02ab95170ef842/6492bf6924f87f9592636b74_CineSync-sales-channel-Webapp.webp"
              alt="">
            <h1>Work type: Office, cinema, caffee, etc</h1>
          </div>
          <div class="back">
            <section>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPIQW2kFUbiuJTV1331Bk4df0cMYsxTyreLA&s"
              alt="">
              <div class="decription">
                <h2>Name: Chaply</h2>
                <p>Description of the work</p>
              </div>
            </section>

            <section>
              <div class="decription">
                <h2>Work specifics</h2>
                <p>Description of the work</p>
              </div>
              <img src="https://agethemes.com/wp-content/uploads/edd/2022/04/at-cinema-MacBook-ltheme.png" alt="">
            </section>
          </div>
          
        </div>
      </div>
    </section>


    <section>
      <h1 class="section-title">Contact form:</h1>

    </section>
  </main>


  {% include 'footer.html' %}

  <script>
    const canvas = document.getElementById("c");
    const ctx = canvas.getContext("2d");

    function resize() {
      canvas.width = window.innerWidth + 30;
      canvas.height = window.innerHeight + 30;
    }
    resize();
    window.addEventListener("resize", resize);

    const TOTAL = 300;
    const radius = 300;
    const particles = [];
    const mouse = { x: null, y: null };

    window.addEventListener("mousemove", e => {
      mouse.x = e.clientX;
      mouse.y = e.clientY;
    });


    for (let i = 0; i < TOTAL; i++) {
      const homeX = Math.random() * canvas.width;
      const homeY = Math.random() * canvas.height;
      particles.push({
        x: homeX,
        y: homeY,
        homeX,
        homeY,
        vx: (Math.random() - 0.5) * 0.5,
        vy: (Math.random() - 0.5) * 0.5,
        s: Math.random() * 3 + 1
      });
    }

    function lerp(a, b, t) {
      return a + (b - a) * t;
    }

    function draw() {
      ctx.fillStyle = "rgba(0,0,0,0.2)";
      ctx.fillRect(0, 0, canvas.width, canvas.height);

      particles.forEach(p => {

        if (mouse.x !== null) {
          const dx = mouse.x - p.x;
          const dy = mouse.y - p.y;
          const dist = Math.sqrt(dx * dx + dy * dy);

          if (dist < radius) {

            p.x = lerp(p.x, mouse.x, 0.001);
            p.y = lerp(p.y, mouse.y, 0.001);
          } else {

            p.x = lerp(p.x, p.homeX, 0.02);
            p.y = lerp(p.y, p.homeY, 0.02);
          }
        } else {

          p.x = lerp(p.x, p.homeX, 0.02);
          p.y = lerp(p.y, p.homeY, 0.02);
        }


        p.x += p.vx;
        p.y += p.vy;


        p.vx *= 0.98;
        p.vy *= 0.98;

        ctx.fillStyle = "white";
        ctx.beginPath();
        ctx.arc(p.x, p.y, p.s, 0, Math.PI * 2);
        ctx.fill();
      });

      requestAnimationFrame(draw);
    }

    draw();


  </script>

</body>

</html>